/boolean.ipynb
/exercase.py
/exercase2.py
/Exercase3.py
/exercase4.py
/exercase5.py
/exercise.py
/fungsi_dan_modul.ipynb
/gambar.jpg
/hitam_putih.png
/input_output.py
/linear_dependent.ipynb
/Looping.py
/main.py
/main1.py
/Manipulasi.py
/modul.py
/operator_aritmatika.py
/operator_identitas.py
/operator_keanggotaan.py
/operator_penugasan.py
/operator_tenary.py
/tahun_kabisat.py
/tipe_data.py
/__pycache__